body {
    background-color: rgb(80, 255, 89);
    background-size:900px;
    background-position: center;
 }

h1 {
   color: black ;
   font-size:22;
   font-family: Arial;
   text-align:center;
   }

p {
   color:black;
   font-size: 35;
   font-family: Times;
   text-align:center;
   background-color: rgb(102, 107, 100);
}  

form {color:black;
    font-size: 35;
    font-family: Times;
    text-align:center

}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    box-shadow: 0 -1px 10px;
  }

#hh {
    text-align:center;
 }
 #gg{
    border-radius: 15px;
    outline: none;
   border: 0;
 }